@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}

<style>
    body {
        background-color: darkslategray;
    }
    h1{
        color:white;
    }

</style>

<h1>View Roles</h1>
<p>
    <a asp-action="Create">Create Roles</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="background-color:mediumseagreen">@Html.DisplayNameFor(model => model.Id)</th>
            <th style="background-color:mediumseagreen">@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
            </tr>
        }
    </tbody>
</table>